/node_modules
/storage/*.key
/storage/logs/*.log
/*.zip
/vendor
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.phpunit.result.cache
public/storage/.gitignore
public/build
public/hot
public/data/avatar
public/data/banner
public/data/brand
public/data/category
public/data/cms-image
public/data/content
public/data/language
public/data/logo
public/data/product
public/data/supplier
!/vendor/s-cart/core/src/Handlers/LfmConfigHandler.php

